.multiselect__spinner {
  background: #010000;
}

.multiselect {
  color: var(--text-color);
  border-color: var(--border-color);

  &:hover {
		border-color: var(--border-color-hover);
	}
}

.multiselect__input,
.multiselect__single {
  background: var(--input-background-hover);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.multiselect__input::placeholder {
  color: var(--text-color);
}

.multiselect__tags {
  background: var(--input-background);
  border-color: var(--border-color);
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
		border-color: var(--border-color-hover);
	}
}

.multiselect__content-wrapper {
  background: var(--input-background);
  border-color: var(--border-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  
	&:hover {
		border-color: var(--border-color-hover);
	}
}

.multiselect__option--highlight {
  color: var(--text-color);
}

.multiselect__option--highlight::after {
  color: var(--text-color);
}

.multiselect__option--selected {
  background-color: var(--multiselect-backgroundcolor) !important;
  color: var(--text-color) !important;
}